<% provide(:title, 'Home') %>
<% provide(:heading, 'Overview') %> 

<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>

<h3><center>Historical Company Ratings</center></h3>
<div id="Demo_Chart">
</div>
<script>
//new Chartkick.LineChart("Demo_Chart", [{"name":"Green Cab","data":{"2013-02-10 00:00:00 -0800":3,"2013-02-17 00:00:00 -0800":3,"2013-02-24 00:00:00 -0800":3,"2013-03-03 00:00:00 -0800":1,"2013-03-10 00:00:00 -0800":4,"2013-03-17 00:00:00 -0700":3,"2013-03-24 00:00:00 -0700":2,"2013-03-31 00:00:00 -0700":3}},{"name":"Allied Cab","data":{"2013-02-10 00:00:00 -0800":0,"2013-02-17 00:00:00 -0800":0,"2013-02-24 00:00:00 -0800":0,"2013-03-03 00:00:00 -0800":0,"2013-03-10 00:00:00 -0800":2,"2013-03-17 00:00:00 -0700":1,"2013-03-24 00:00:00 -0700":0,"2013-03-31 00:00:00 -0700":0}},{"name":"Checker Cab","data":{"2013-02-10 00:00:00 -0800":0,"2013-02-17 00:00:00 -0800":1,"2013-02-24 00:00:00 -0800":0,"2013-03-03 00:00:00 -0800":0,"2013-03-10 00:00:00 -0800":0,"2013-03-17 00:00:00 -0700":1,"2013-03-24 00:00:00 -0700":0,"2013-03-31 00:00:00 -0700":1}},{"name":"Music City Cab","data":{"2013-02-10 00:00:00 -0800":5,"2013-02-17 00:00:00 -0800":3,"2013-02-24 00:00:00 -0800":2,"2013-03-03 00:00:00 -0800":0,"2013-03-10 00:00:00 -0800":0,"2013-03-17 00:00:00 -0700":1,"2013-03-24 00:00:00 -0700":1,"2013-03-31 00:00:00 -0700":0}},{"name":"Yellow Cab","data":{"2013-02-10 00:00:00 -0800":3,"2013-02-17 00:00:00 -0800":2,"2013-02-24 00:00:00 -0800":1,"2013-03-03 00:00:00 -0800":0,"2013-03-10 00:00:00 -0800":2,"2013-03-17 00:00:00 -0700":2,"2013-03-24 00:00:00 -0700":3,"2013-03-31 00:00:00 -0700":0}}], {});
</script>
</br>
<div class="container-fluid">
  <p>
    <div class="btn-group btn-block" data-toggle="buttons">
      <label class="btn btn-success btn-xs active">
        <input type="radio" name="options" id="best">Best of
      </label>
      <label class="btn btn-danger btn-xs">
        <input type="radio" name="options" id="worst">Worst of
      </label>
    </div>
    <div class="btn-group btn-block" data-toggle="buttons">
      <label class="btn btn-default btn-xs">
        <input type="radio" name="time" id="day">Today
      </label>
      <label class="btn btn-default btn-xs">
        <input type="radio" name="time" id="week">This Week
      </label>
      <label class="btn btn-default btn-xs">
        <input type="radio" name="time" id="month">This Month
      </label>
      <label class="btn btn-default btn-xs">
        <input type="radio" name="time" id="year">This Year
      </label>
      <label class="btn btn-default btn-xs active">
        <input type="radio" name="time" id="all">Overall
      </label>
    </div>
    
  </p>
<div class="row">
  <div class="col-sm-6 col-md-6">

  <h3>Driver Rankings</h3>
  
  <table id= "driver_table" class="table-rankings table-hover">
    </table>
<!--
    <div class="panel-footer">
      see more... link to dashboard sorted one way or another?
    </div>
-->
    
  </div>
  <div class="col-sm-6 col-md-6">
  <h3>Company Rankings</h3>
  
  <table id="company_table" class="table-rankings table-hover">
  </table>
  <script>
      var time = "all",
          type = "best",
          count = 5;

      $("input[id=best]").change(function () {
              type = 'best';
              requestData();
      });
      $("input[id=worst]").change(function () {
              type = 'worst';
              requestData();
      });
      $("input[id=day]").change(function () {
              time = 'day';
              requestData();
      });
      $("input[id=week]").change(function () {
              time = 'week';
              requestData();
      });
      $("input[id=month]").change(function () {
              time = 'month';
              requestData();
      });
      $("input[id=year]").change(function () {
              time = 'year';
              requestData();
      });
      $("input[id=all]").change(function () {
              time = 'all';
              requestData();
      });

    var requestData = function(){ 
     //Get the companies and drivers to display
     $.ajax({
         url: 'http://localhost:3000/get_best_worst/' + time + '&' + type + '&' + count + '.json', 
         dataType: "json",
         cache: false})
        .success( function(data) {
                createTables(data) })
         .fail( function (error) {
             console.log("Could not request company/driver info: " + JSON.stringify(error));
     });
    }
 
    //Create template with underscorejs
    _.templateSettings = {
        interpolate: /\{\{\=(.+?)\}\}/g,// {{= }} & {{ }}
        evaluate: /\{\{(.+?)\}\}/g
    };

    var c_row = _.template("<tr class=\"table-link\" onclick=\"window.location.href = '{{= url }}'\" >\n <th>#{{= number }}</th>\n  <td>\n    <li class=\"media\">\n      <div class=\"pull-left\">\n        <img src=\"{{= logo }}\" class=\"media-object img-rounded\" alt=\"{{= name }}\"/>\n        <!-- make this image 64xsomething -->\n      </div>\n      <div class=\"media-body\">\n        <h4 class=\"media-heading\">{{= name }}</h4>\n        <em>Average rating of {{= average_rating }}</em>\n      </div>\n    </li>\n  </td>\n</tr>"),
        d_row = _.template("\n<tr class=\"table-link\" onclick=\"window.location.href = '{{= url }}'\" >\n  <th>#{{= number }}</th>\n  <td>\n    <li class=\"media\">\n      <div class=\"pull-left\">\n        <img src=\"{{= avatar}}\" class=\"media-object img-rounded\" alt=\"{{= name }}\"/>\n        <!-- make this image 64x64 -->\n      </div>\n      \n      <div class=\"media-body\">\n        <h4 class=\"media-heading\">{{= first_name }} {{= last_name }}</h4>\n        <p><em>Average rating of {{= average_rating}} </em></p>\n      </div>\n      \n    </li>\n  </td>\n</tr>\n");

    var createTables = function(data){

        var companies = "",
            drivers = "",
            i = -1;

        //Create the company info using the template
        while(++i < data.companies.length){
            data.companies[i].number = i+1;
            companies += c_row(data.companies[i]);
        }

        i = -1;
        while(++i < data.drivers.length){
            data.drivers[i].number = i+1;
            drivers += d_row(data.drivers[i]);
        }

        //Insert the output of the table 
        $("#driver_table").html(drivers);
        $("#company_table").html(companies);
    }

    requestData();
  </script>
<!--
    <div class="panel-footer" id="more_companies">
      See More...
    </div>
-->
    
  </div>
</div>
</div>
