<%= link_to({controller: controller.controller_path, id: item, action: 'edit'}, :class => "btn btn-lg btn-link pull-right", title: "Edit", method: :get) do %>            
        <span class="glyphicon glyphicon-pencil"></span> Edit
<% end %>
