<% provide(:title, 'Editing Rating') %>
<%= content_for :heading do %>
    <%= render 'layouts/buttons/back_button' %>
    <%= link_to(show_rating_path(@rating), :class => "btn btn-lg btn-link pull-right", title: "Show", method: :get) do %>            
        <span class="glyphicon glyphicon-eye-open"></span> Show
    <% end %>
    Editing Rating
<% end %>

<%= render 'form' %>
