<% provide(:title, 'QuickStart!') %>

<%= content_for :heading do %>
    <%= link_to(man_get_stats_path, :class => "btn btn-lg btn-link pull-right", title: "Next", method: :get) do %>            
        <span class="glyphicon glyphicon-chevron-right"></span> Next
    <% end %>
    <%= link_to(man_rate_path, :class => "btn btn-lg btn-link pull-right", title: "Prev", method: :get) do %>            
        <span class="glyphicon glyphicon-chevron-left"></span> Prev
    <% end %>
    <strong>Step 4:</strong> Rating Retrieval
<% end %>

<h1>Get Driver Rating!</h1>

<ol>
    <li>Taxi riders can use the smartphone app to get rating of potential drivers.</li>
    <li>Taxi riders can also get permit validity with the app!</li>
</ol>


<%= image_tag 'step4.png', size:"800x300", :class => "row center-block" %></br>
