<% provide(:title, 'Help Main') %>

<%= content_for :heading do %>
    <%= render 'layouts/buttons/back_button' %>
    Help Manual
<% end %>

Hello and welcome to the manual for <em><strong>TAXIDASH</strong></em>! <em><strong>TAXIDASH</strong></em> is a online tool for maintaining taxi driver permits and provides quality assurance support through a driver rating system on the smartphone.

Learning how to use this tool? Click on any of the icons on the left to get details about each object type in <em><strong>TAXIDASH</strong></em>. For troubleshooting, please check out the <em>Common Issues</em> in the left pane.

<h3>Summary of Object types in <em><strong>TAXIDASH</strong></em>:</h3>
<h4>Companies</h4>
Before we start creating any drivers, a company must be created to assign the driver to. A company contains a name, logo and associated drivers. 

<h4>Drivers</h4>
A "driver" refers to a taxi driver who has been issued a permit. A driver belongs to a company and will have ratings associated with him as his riders rate their experience! 

<h4>Documents</h4>
Documents belong to drivers and allow paperwork to be uploaded to <em><strong>TAXIDASH</strong></em> to have all driver information in one place!

<h4>Ratings</h4>
Ratings are created by riders following their cab experience and provide quality feedback on the licensed taxi drivers!

<h4>Riders</h4>
Riders refers to the people riding in the taxi's. <em><strong>TAXIDASH</strong></em> stores a unique identifier to prevent any spamming of fraudulent ratings of taxi drivers. 
