<!--
	Copyright 2014 Vanderbilt University 
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
 -->


<% provide(:title, 'QuickStart!') %>

<%= content_for :heading do %>
    <%= link_to(man_check_rating_path, :class => "btn btn-lg btn-link pull-right", title: "Next", method: :get) do %>            
        Next <span class="glyphicon glyphicon-chevron-right"></span> 
    <% end %>
    <%= link_to(man_add_driver_path, :class => "btn btn-lg btn-link pull-right", title: "Prev", method: :get) do %>            
        <span class="glyphicon glyphicon-chevron-left"></span> Prev
    <% end %>
    <strong>Step 3:</strong> Rate!
<% end %>

<h1>Rate!</h1>

<ol>
    <li>Users of the smartphone app can rate their drivers following a trip.</li>
    <li>The rating will be automatically stored with the corresponding driver!</li>
</ol>


<%= image_tag 'step3.png', size:"800x300", :class => "row center-block" %></br>
