/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



/* User sign in and sign up forms. */

.user-form {
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
}

.user-form .user-form-heading {
  margin-bottom: 15px;
}

.user-form .checkbox {
  margin-bottom: 10px;
}
.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
