@import "bootstrap";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


.btn-nav {
  @include button-variant($btn-default-color,  rgba(0,0,0,0), rgba(0,0,0,0));
}


.table-show {
  @extend .table-condensed;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td { border-top: 0; }
    }
  }
  > thead > tr > th {
    border-bottom: 0;
  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > tbody + tbody {
    border-top: 0;
  }
}  

.table-rankings {
  @extend .table;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td { border-top: 0; }
    }
  }
  > thead > tr > th {
    border-bottom: 0;
  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > tbody + tbody {
    border-top: 0;
  }
}  

.nav-side {
    font-size: $font-size-h5;
} 

/* navbar-nav */

.navbar-collapse > ul > li {
  font-size: $font-size-h5;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-right: 0px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

#logo {
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
  color: $body-bg;
} 

#logo-inverse {
  font-size: 3em;
  line-height: 95%;
  letter-spacing: -2px;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray-dark; 
  text-align: center;
  margin-bottom: 5px;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  width: inherit;
}

.field_with_errors {
  @extend .has-error;
  display: inherit;
  padding: inherit;
  background-color: inherit;
}



/* User sign in and sign up forms. */

.user-form .user-form-heading {
  margin-bottom: 15px;
  margin-top: 0px;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="password"] {
  @extend form-group.form-control;
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


.form input {
  @extend form-group.form-control;
}





