<%= render 'layouts/header' %>

<div class="col-sm-2 col-md-2 col-sm-offset-1 sidebar">
    <%= render 'layouts/sidebar' %>            
</div>    
<div class="col-sm-8 col-md-8 col-sm-offset-3 main">
    <h1 class="page-header"><%= yield(:heading) %></h1>
    <%= yield %>            
</div>

