

<div id="navbar_sidebar" class="container-fluid">
      <ul class="nav nav-sidebar">
        <li class="active"><%= link_to "Overview", drivers_path %></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>
</div>
