
<div id="navbar_sidebar" class="container-fluid">
      <ul class="nav nav-sidebar">
        <li class= <%= controller.controller_path == 'drivers' ? 'active' : '' %> ><%= link_to "Driver Dashboard", drivers_path %></li>
      <% if current_user.try(:admin?) %>
          <li class= <%= controller.controller_path == 'users' ? 'active' : '' %> ><%= link_to "User Dashboard", users_path %></li>
        </ul>
      <% end %>
</div>
